# Twitter API Pull

In [1]:
import pandas as pd
import tweepy
import os
import datetime
import re
from pprint import pprint

import requests
import time
from bs4 import BeautifulSoup
from collections import defaultdict, Counter

In [2]:
from api_keys import api_key, api_key_secret, bearer_token

In [3]:
client = tweepy.Client(bearer_token,wait_on_rate_limit=True)

In [17]:
handles = ["Bitcoin", "ethereum", "Cardano"]
tweets_data = dict()

In [18]:
for handle in handles :
    tweets_data[handle] = []
    user_obj = client.get_user(username=handle)

In [69]:
max_pulls = 11

whitespace_pattern = re.compile(r"\s+")

for handle in handles :
    tweets_data[handle] = []

start_time = datetime.datetime.now()

for handle in handles:
    pulls = 0

    tweets_output = handle + "_tweets.txt"
    user_obj = client.get_user(username=handle)
    
    for response in tweepy.Paginator(
                                    client.get_users_tweets,
                                    user_obj.data.id,
                                    max_results=100):
        
        print(pulls+1, "pulls completed for", handle)
        pulls += 1

        for tws in response.data:
            tweets_data[handle].append(tws.text)
            
        if 'next_token' in response.meta and pulls < max_pulls :
            next_token = response.meta['next_token']
        else : 
            break

    pd.DataFrame(tweets_data[handle]).to_csv(os.getcwd() + '\\twitter\\' + tweets_output, index=False, sep='\t')

end_time = datetime.datetime.now()
print(end_time - start_time)

1 pulls completed for Bitcoin
2 pulls completed for Bitcoin
3 pulls completed for Bitcoin
4 pulls completed for Bitcoin
5 pulls completed for Bitcoin
6 pulls completed for Bitcoin
7 pulls completed for Bitcoin
8 pulls completed for Bitcoin
9 pulls completed for Bitcoin
10 pulls completed for Bitcoin
11 pulls completed for Bitcoin
1 pulls completed for ethereum
2 pulls completed for ethereum
3 pulls completed for ethereum
4 pulls completed for ethereum
5 pulls completed for ethereum
6 pulls completed for ethereum
7 pulls completed for ethereum
8 pulls completed for ethereum
9 pulls completed for ethereum
10 pulls completed for ethereum
11 pulls completed for ethereum
1 pulls completed for Cardano
2 pulls completed for Cardano
3 pulls completed for Cardano
4 pulls completed for Cardano
5 pulls completed for Cardano
6 pulls completed for Cardano
7 pulls completed for Cardano
8 pulls completed for Cardano
9 pulls completed for Cardano
10 pulls completed for Cardano
11 pulls completed for Cardano
0:00:14.163597

In [73]:
bitcoin = pd.read_csv(os.getcwd() + '\\twitter\\' + 'Bitcoin_tweets.txt', sep='\t')
ethereum = pd.read_csv(os.getcwd() + '\\twitter\\' + 'ethereum_tweets.txt', sep='\t')
cardano = pd.read_csv(os.getcwd() + '\\twitter\\' + 'Cardano_tweets.txt', sep='\t')

In [74]:
bitcoin.columns = ['tweets']
ethereum.columns = ['tweets']
cardano.columns = ['tweets']

In [75]:
print(bitcoin.shape)
bitcoin.head(3)

(1098, 1)

                                              tweets
0                            https://t.co/9xJWYwypPM
1  A whopping $14m of short liquidations. https:/...
2                            https://t.co/2hsh3GpR8L

In [76]:
print(ethereum.shape)
ethereum.head(3)

(1100, 1)

                                              tweets
0  RT @ChipotleTweets: Ethereumâ€™s recent move to ...
1  RT @WeekInEthNews: Latest Week in Ethereum New...
2  RT @trent_vanepps: 1/ For the past ~6 months, ...

In [78]:
print(cardano.shape)
cardano.head(3)

(1096, 1)

                                              tweets
0  RT @timbharrison: And there we have it. New le...
1  RT @F_Gregaard: Happy 5th anniversary #Cardano...
2  RT @CardanoStiftung: ðŸŽ‰Today we celebrate anoth...

---